9 June

Create a funtion which takes two numbers and adds them together

In [ ]:
def add(a,b): #a and b are parameters

  sum = a+b

  print(sum)

In [ ]:
add(4,9) #4 and 9 are arguments to the parameter

13

In [ ]:
add(7,9)

16

In [ ]:
add(-5,-7)

-12

Create a funtion which takes 2 number and display the addition, subtraction, multiplication and divion of these two numbers

In [ ]:
def compute(a,b):
  s=a+b
  t=a-b
  u=a*b
  v=a/b

  print(s,t,u,v)

In [ ]:
compute(7,9)

16 -2 63 0.7777777777777778

Create a funtion which displays the name, age and city of a candidate

In [ ]:
def info(name,age,city):
  print(name,age,city)

In [ ]:
info('Akash',22,'Kushinagar')

Akash 22 Kushinagar

In [ ]:
info('Meera',98,'Delhi')

Meera 98 Delhi

Types of Arguments

1. Positional Arguments

2. Default Arguments

3. Arbitrary Arguments

4. Keyword Arguments

5. Arbitrary Keyword Arguments

In [ ]:
#Positional arguments

def name(firstname,lastname):
  print("Hi your first name is",firstname)

In [ ]:
name("Akash","Kushwaha")

Hi your first name is Akash

In [ ]:
#default arguments
def greet(name,message="Hii how are you"): #message is the default argument
  print(name,message)

In [ ]:
greet('Akash','Good evening')

Akash Good evening

In [ ]:
greet('Meera')

Meera Hii how are you

In [ ]:
greet("Mukesh")

Mukesh Hii how are you

Create a Function which takes name and salary as input and increase the salary is not provided , use default salary as 25000.Display the name and salary of the individual.

In [ ]:
def info(name,salary=25000):
  print(name,salary)

In [ ]:
info('Akash',30000)

Akash 30000

In [ ]:
info('Rekha')

Rekha 25000

In [ ]:
#arbitrart arguments -- *args , default type is tuple
def add(*args):
  print(type(args))
  print(args)

  sum=0
  for num in args:
    sum=sum+num
  return sum

In [ ]:
add(3,4)

<class 'tuple'>
(3, 4)

7

In [ ]:
add(3,8,9,-3,-5,12)

<class 'tuple'>
(3, 8, 9, -3, -5, 12)

24

In [ ]:
def func(a,b,*args):
  print(a)
  print(b)
  print(args)

In [ ]:
func(5,7,568945)

5
7
(568945,)

In [ ]:
func(5,7,5,6,8,9,4,5)

5
7
(5, 6, 8, 9, 4, 5)

In [ ]:
|#Keyword arguments
def greet(name,age,message):
  print(message,name,"your age is",age)

In [ ]:
greet(name='Akash',age=99,message="Good evening") #while calling the function, we need to provide the input in key-value format

Good evening Akash your age is 99

In [ ]:
greet(age=99,message="Good evening",name="Akash") #while calling the function, we need to provide the input in key-value format

Good evening Akash your age is 99

In [ ]:
greet(message="How are you",name="Meera",age=98)

How are you Meera your age is 98

In [ ]:
#Arbitrary Keyword Arguments -- **kwargs,  default type is dictonary
def display(**kwargs):
  print(type(kwargs))
  print(kwargs)

  for key, value in kwargs.items():
    print(key,"-->",value)

In [ ]:
display(name='Akash',age=99,city='Kushinagar')

<class 'dict'>
{'name': 'Akash', 'age': 99, 'city': 'Kushinagar'}
name --> Akash
age --> 99
city --> Kushinagar