2 May

Display the names of your friends one stored in the form of a list

#For loop

In [ ]:
names=['George','Catherine','John','Chirag','Rishabh','Tushar','Sagar','Alok']

for name in names: #name is an iterator
  print(name)

George
Catherine
John
Chirag
Rishabh
Tushar
Sagar
Alok

In [ ]:
fruits=['Apple','Mango','Banana','Grapes','Kivi']

for fruit in fruits:
  print(fruit)

Apple
Mango
Banana
Grapes
Kivi

In [ ]:
for i in fruits:
  print(i)

Apple
Mango
Banana
Grapes
Kivi

Display the first 10 whole numbers

In [ ]:
for i in range(0,10): #bydefalt the step size will be 1
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10,2): #here step size is 2 - consequtive o/ps will have difference of 2
  print(i)

0
2
4
6
8

Take a list of numbers and display all the even numbers from this list

In [ ]:
my_list=[2,3,4,5,6,8,9]

for i in my_list:
  if i%2==0:
    print(i,end=' ')

2 4 6 8

Take a list of numbers and display all the odd numbers from this list

In [ ]:
my_list=[2,3,4,5,6,8,9]

for i in my_list:
  if i%2!=0:
    print(i)

3
5
9

In [ ]:
my_list=[2,3,4,5,6,8,9]

for i in my_list:
  if i%2!=0:
    print(i,end=' ')

3 5 9

9 June

#While loop

Display all the numbers including 1 to 10

In [ ]:
a=1

while a<=10:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

Display all the numbers between 0 to 20 (both numbers included)

In [ ]:
a=0

while a<=20:
  print(a)
  a=a+2

0
2
4
6
8
10
12
14
16
18
20

Controlling the flow in loops

1. Break statement - breaks the loop when an element is satisfying a given condition

2. Continue statement - the loop continues to iterate and only the element in the given condition gets skipped

#Break statement

In [18]:
fruit=['Mango','Apple','Banana','PineApple','Guava','Grapes','Potato','Tomato']

for i in fruit:
  if i=='Guava': #if the fruit bacomes Guava (4th iteration)
    break
  print(i)

Mango
Apple
Banana
PineApple

In [21]:
name='Aashutosh'

for i in name:
  if i=='t':
    break
  print(i,end='')

Aashu

In [22]:
fruit=['Mango','Apple','Banana','PineApple','Guava','Grapes','Potato','Tomato']

for i in fruit:
  if i=='Mango':
    break
  print(i)

#Continue statement

In [24]:
fruit=['Mango','Apple','Banana','PineApple','Guava','Grapes','Potato','Tomato']

for i in fruit:
  if i=='Guava': #Guava will be skipped but the iteration will not stop
    continue
  print(i)

Mango
Apple
Banana
PineApple
Grapes
Potato
Tomato

In [25]:
fruit=['Mango','Apple','Banana','PineApple','Guava','Grapes','Potato','Tomato']

for i in fruit:
  if i=='Mango':
    continue
  print(i)

Apple
Banana
PineApple
Guava
Grapes
Potato
Tomato