Input() and Type casting

In [ ]:
a=10 #hard coded

In [ ]:
name=input("Enter your name") #bydefault the database will always be string nature.

Enter your namerk

In [ ]:
print(name)

rk

In [ ]:
type(name)

str

In [ ]:
#Typecasting -- a restriction on top of the input()

In [ ]:
otp=int(input("Enter your four OTP")) #int() restriction on top of input() which helps in accepting only int i/p

Enter your four OTP1234

In [ ]:
print(otp)

1234

In [ ]:
type(otp)

int

In [ ]:
temp=float(input("Enter temp of your City"))

Enter temp of your City44.5

In [ ]:
print(temp)

44.5

In [ ]:
type(temp)

float

Operators

1. Arithmatic operator

2. Assignment operator

3. Logical operator

4. Comparison operator

In [ ]:
#arithmatic operator
num_1=10
num_2=20

print(num_1+num_2)
print(num_1-num_2)
print(num_1*num_2)
print(num_1/num_2) #single forward slash -- float division
print(num_1//num_2) #double forward slash -- integer dividion

30
-10
200
0.5
0

In [ ]:
a=2 #raise the power of 2 by 5 -- 2^5
print(a**5) #base**power

32

In [ ]:
b=7 #raise the power of 7 by25 -- 7^25
print(b**25)

1341068619663964900807

% modulo operator

In [ ]:
a=10
b=3

print(a%b) #a and b will be divided and the remained of the division operation will be displayed

1

In [ ]:
a=10
b=2

print(a%b)

0

In [ ]:
#comparison operator
a=10
b=20

In [ ]:
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b) #not equal to

False
True
False
True
False
True

In [ ]:
#Logical operator -- AND, OR, NOT

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
print(not False)

True

In [ ]:
print(not True)

False

In [ ]:
print(not 5>7)

True

In [ ]:
#Conditional Statements

Take a number as input from the user and cheak if the number is greater than 15 or not

In [ ]:
num=int(input("Enter a number"))

if num>15:
  print("num is greater than 15")

else:
  print("num is less than 15")

Enter a number45
num is greater than 15

Take a number 'x' and 'y' as input from the user and cheak which number is greater

In [ ]:
n1=int(input("Enter x value"))
n2=int(input("Enter y value"))

if n1>n2:
  print("x is greater than y")

else:
  print("x is less than y")

Enter x value123
Enter y value23
x is greater than y

In [ ]:
n1=int(input("Enter x value"))
n2=int(input("Enter y value"))

if n1>n2:
  print("x is greater than y")

elif n1==n2:
  print("both x and y are same")

else:
  print("x is less than y")

Enter x value45
Enter y value12
x is greater than y

Take age of candidate as input from the user and check if the candidate is eligible for voting or not (voting age >=18 years)

In [ ]:
a=int(input("Enter your Age"))

if a>=18:
  print("you are eligible for voting")

else:
  print("you are not eligible for voting")

Enter your Age23
you are eligible for voting

Take marks as input from the user and given grades to students in the format;

marks more than or equal to 90 -- A
marks more than or equal to 80 -- B
marks more than or equal to 70 -- C
marks more than or equal to 60 -- D
marks less than 60 -- study hard

In [ ]:
m=int(input("Enter your marks"))

if m>=90:
  print("grade A")

elif m>=80:
  print("grade B")

elif m>=70:
  print("grade C")

elif m>=60:
  print("grade D")

else:
  print("study hard")

Enter your marks72
grade C

In a fare, the entry fee for children less than 4 years of age is free, the entry of children between 4 to 16 years in 100 rupees and the entry of people above 16 years is 175 rupees.

Take age as input from user and children the calculate the entry fee based on the age provied.

In [ ]:
a=int(input("Enter your age"))

if a<4:
  print("free Entry")

elif a>=4 and a<=16:
  print("Entry fee is 100 rupees")

else:
  print("Entry fee is 175 rupees")

Enter your age23
Entry fee is 175 rupees

Take a number as input from the user and check if the number is even or odd

In [ ]:
#even -- the number is perfectly divisible by 2 -- the remainder should be 0

num=int(input("Enter a number"))

if num%2==0: #num when gets div by 2 given 0 as remainder
  print("num is even")

else:
  print("num is odd")

Enter a number8
num is even

In [ ]:
#odd -- the number is not perfectly divisible by 2

num=int(input("Enter a number"))

if num%2!=0:
  print("num is odd")

else:
  print("num is even")

Enter a number9
num is odd

The owner of a company decided to given a bonus of 5% to employees who have been working in this company for the past 5 years or more.

Take current salary and years of experience with the current organization as input from the user and display the incremented salary (if any)

In [ ]:
salary=int(input("Enter your current salary"))
exp=int(input("Enter your years of experience"))

if exp>=5:
  print("your incremented salary is",salary+(salary*0.05))

else:
  print("no increment in the salary, your salary is",salary)

Enter your current salary10000
Enter your years of experience4
no increment in the salary, your salary is 10000

2 June

Take a number as input from the user and check if the number is greater than 10 or not. Just in case the number is greater than 10, check if the number is greater than 20 also or not.

In [12]:
x=int(input("Enter a number"))

if x>10:

  if x>20:
    print("x is greater than 20")

  else:
    print("x is greater than 10 but less than 20")

else:
  print("x is less than 10")

Enter a number6
x is less than 10

Take a number as input from the user and check if the number is 0 or +ve or -ve using nested statements

In [15]:
x=int(input("Enter a number"))

if x>=0:

  if x>0:
    print("x is +ve")

  else:
    print("x is equal to 0")

else:
  print("x is -ve")

Enter a number-2
x is -ve